<nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'timeAttendance.workSchedule.employee' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'timeAttendance.workSchedule.employeeRequired' | translate">
              <nz-select
                formControlName="employeeId"
                [nzPlaceHolder]="'timeAttendance.workSchedule.filterEmployee' | translate"
                nzShowSearch
              >
                @for (e of employees; track e.id) {
                  <nz-option
                    [nzValue]="e.id"
                    [nzLabel]="e.code ? e.code + ' - ' + e.name : e.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'timeAttendance.workSchedule.shiftMaster' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'timeAttendance.workSchedule.shiftRequired' | translate">
              <nz-select
                formControlName="shiftMasterId"
                [nzPlaceHolder]="'timeAttendance.workSchedule.filterShift' | translate"
                nzShowSearch
              >
                @for (s of shifts; track s.id) {
                  <nz-option
                    [nzValue]="s.id"
                    [nzLabel]="s.code ? s.code + ' - ' + s.name : s.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'timeAttendance.workSchedule.workDate' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'timeAttendance.workSchedule.workDateRequired' | translate">
              <nz-date-picker formControlName="workDate" nzFormat="dd/MM/yyyy" style="width: 100%"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>{{ 'timeAttendance.workSchedule.branch' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="branchId"
                nzAllowClear
                [nzPlaceHolder]="'timeAttendance.workSchedule.filterBranch' | translate"
                nzShowSearch
              >
                @for (b of branches; track b.id) {
                  <nz-option
                    [nzValue]="b.id"
                    [nzLabel]="b.code ? b.code + ' - ' + b.name : b.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-label>{{ 'timeAttendance.workSchedule.note' | translate }}</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="note" rows="3"></textarea>
        </nz-form-control>
      </nz-form-item>

      <div class="form-actions" style="margin-top: 24px">
        <button nz-button nzType="default" type="button" (click)="goBack()" [disabled]="submitting">
          <i nz-icon nzType="arrow-left"></i>
          {{ 'timeAttendance.workSchedule.backToList' | translate }}
        </button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting" style="margin-left: 12px">
          <i nz-icon nzType="save"></i> {{ 'common.actions.save' | translate }}
        </button>
      </div>
    </form>
  </nz-spin>
</nz-card>

<ng-template #titleTemplate>
  <span style="font-size: 18px; font-weight: 600">
    <i nz-icon nzType="calendar" style="margin-right: 8px"></i>
    {{
      isEdit
        ? ('timeAttendance.workSchedule.editTitle' | translate)
        : ('timeAttendance.workSchedule.addTitle' | translate)
    }}
  </span>
</ng-template>

<ng-template #extraTemplate>
  <button nz-button nzType="default" (click)="goBack()">
    {{ 'timeAttendance.workSchedule.backToList' | translate }}
  </button>
</ng-template>
