<nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
  <ng-container *ngTemplateOutlet="formTpl"></ng-container>
</nz-card>

<ng-template #formTpl>
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'organization.department.code' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'organization.department.codeRequired' | translate">
              <input
                nz-input
                formControlName="code"
                [placeholder]="'organization.department.searchCode' | translate"
                [disabled]="isEdit"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'organization.department.name' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'organization.department.nameRequired' | translate">
              <input
                nz-input
                formControlName="name"
                [placeholder]="'organization.department.searchName' | translate"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.shortName' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="shortName" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'organization.department.companyName' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'organization.department.companyRequired' | translate">
              <nz-select
                formControlName="companyId"
                [nzPlaceHolder]="'organization.department.filterCompany' | translate"
              >
                @for (c of companies; track c.id) {
                  <nz-option
                    [nzValue]="c.id"
                    [nzLabel]="c.code ? c.code + ' - ' + c.name : c.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{
              'organization.department.branchName' | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'organization.department.branchRequired' | translate">
              <nz-select
                formControlName="branchId"
                [nzPlaceHolder]="'organization.department.filterBranch' | translate"
              >
                @for (b of branches; track b.id) {
                  <nz-option
                    [nzValue]="b.id"
                    [nzLabel]="b.code ? b.code + ' - ' + b.name : b.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{
              'organization.department.parentDepartment' | translate
            }}</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="parentDepartmentId"
                nzAllowClear
                [nzPlaceHolder]="'organization.department.filterParentDepartment' | translate"
              >
                @for (d of parentDepartments; track d.id) {
                  <nz-option
                    [nzValue]="d.id"
                    [nzLabel]="d.code ? d.code + ' - ' + d.name : d.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.managerName' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="managerId"
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="'organization.department.filterManager' | translate"
              >
                @for (e of employees; track e.id) {
                  <nz-option
                    [nzValue]="e.id"
                    [nzLabel]="e.code ? e.code + ' - ' + e.name : e.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{
              'organization.department.deputyManagerName' | translate
            }}</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="deputyManagerId"
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="'organization.department.filterDeputyManager' | translate"
              >
                @for (e of employees; track e.id) {
                  <nz-option
                    [nzValue]="e.id"
                    [nzLabel]="e.code ? e.code + ' - ' + e.name : e.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.type' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="type" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.level' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input type="number" formControlName="level" min="1" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.limit' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input type="number" formControlName="limit" min="0" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.displayOrder' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input type="number" formControlName="displayOrder" min="0" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{
              'organization.department.costCenterCode' | translate
            }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="costCenterCode" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.email' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="email" type="email" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{
              'organization.department.phoneExtension' | translate
            }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="phoneExtension" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label>{{ 'organization.department.description' | translate }}</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="description" rows="3"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{
              'organization.department.isNotifyMarketing' | translate
            }}</nz-form-label>
            <nz-form-control>
              <label nz-checkbox formControlName="isNotifyMarketing"></label>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'organization.company.isActive' | translate }}</nz-form-label>
            <nz-form-control> <nz-switch formControlName="isActive"></nz-switch></nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="form-actions" style="margin-top: 24px">
        <button nz-button nzType="default" type="button" (click)="goBack()" [disabled]="submitting">
          <i nz-icon nzType="arrow-left"></i> {{ 'organization.department.backToList' | translate }}
        </button>
        <button
          nz-button
          nzType="primary"
          type="submit"
          [nzLoading]="submitting"
          style="margin-left: 12px"
        >
          <i nz-icon nzType="save"></i> {{ 'common.actions.save' | translate }}
        </button>
      </div>
    </form>
  </nz-spin>
</ng-template>

<ng-template #titleTemplate>
  <span style="font-size: 18px; font-weight: 600">
    <i nz-icon nzType="cluster" style="margin-right: 8px"></i>
    {{
      isEdit
        ? ('organization.department.editTitle' | translate)
        : ('organization.department.addTitle' | translate)
    }}
  </span>
</ng-template>

<ng-template #extraTemplate>
  <button nz-button nzType="default" (click)="goBack()">
    {{ 'organization.department.backToList' | translate }}
  </button>
</ng-template>
