<nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate" [nzLoading]="loading">
  @if (company) {
    <div class="detail-header">
      <div>
        <h2>{{ company.name }}</h2>
        <p>
          {{ 'organization.company.code' | translate }}: <strong>{{ company.code }}</strong>
        </p>
      </div>
      <span
        class="status-badge"
        [class.active]="!company.isDeleted"
        [class.inactive]="company.isDeleted"
      >
        {{
          company.isDeleted
            ? ('organization.company.statusInactive' | translate)
            : ('organization.company.statusActive' | translate)
        }}
      </span>
    </div>

    <nz-tabs [nzSelectedIndex]="selectedTabIndex" (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab [nzTitle]="'organization.company.tabDetail' | translate">
        <div class="tab-content">
          @if (company.description) {
            <div class="description-box">
              <span class="field-label">{{ 'organization.company.description' | translate }}</span>
              <p>{{ company.description }}</p>
            </div>
          }

          <div nz-row [nzGutter]="[24, 16]">
            @for (field of detailFields; track field.key) {
              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
                <div class="detail-field">
                  <span class="field-label">{{ field.label | translate }}</span>
                  <span class="field-value">{{ getFieldValue(field) }}</span>
                </div>
              </div>
            }
          </div>
        </div>
      </nz-tab>

      <nz-tab [nzTitle]="'organization.company.tabBranches' | translate">
        <div class="tab-content">
          <div class="tab-toolbar">
            <button nz-button nzType="default" (click)="viewAllBranches()">
              <i nz-icon nzType="unordered-list"></i>
              {{ 'organization.company.manageBranches' | translate }}
            </button>
            <button nz-button nzType="primary" (click)="addBranch()">
              <i nz-icon nzType="plus"></i>
              {{ 'organization.company.addBranch' | translate }}
            </button>
          </div>
          <app-table-custom
            [id]="'company-detail-branches'"
            [data]="branches"
            [columns]="branchColumns"
            [rowActions]="branchRowActions"
            [loading]="branchesLoading"
            [stripedRows]="true"
            [showIndexList]="true"
            [toolbar]="{ show: false }"
            [emptyText]="'organization.company.noBranches' | translate"
          ></app-table-custom>
        </div>
      </nz-tab>

      <nz-tab [nzTitle]="'organization.company.tabChildCompanies' | translate">
        <div class="tab-content">
          <app-table-custom
            [id]="'company-detail-child-companies'"
            [data]="childCompanies"
            [columns]="childCompanyColumns"
            [loading]="childCompaniesLoading"
            [stripedRows]="true"
            [showIndexList]="true"
            [toolbar]="{ show: false }"
            [emptyText]="'organization.company.noChildCompanies' | translate"
          ></app-table-custom>
        </div>
      </nz-tab>

      <nz-tab [nzTitle]="'organization.company.tabActivityLog' | translate">
        <div class="tab-content">
          <app-action-log
            entityName="CompanyEntity"
            [entityId]="id ?? undefined"
            [title]="'actionLog.title' | translate"
          ></app-action-log>
        </div>
      </nz-tab>
    </nz-tabs>
  }
</nz-card>

<ng-template #titleTemplate>
  <span class="card-title">
    <i nz-icon nzType="bank"></i>
    {{ 'organization.company.detailTitle' | translate }}
  </span>
</ng-template>

<ng-template #extraTemplate>
  <div class="header-actions">
    <button nz-button nzType="default" (click)="goBack()">
      <i nz-icon nzType="arrow-left"></i> {{ 'organization.company.backToList' | translate }}
    </button>
    <button nz-button nzType="primary" (click)="goEdit()">
      <i nz-icon nzType="edit"></i> {{ 'common.actions.update' | translate }}
    </button>
    <button
      nz-button
      [nzType]="company?.isDeleted ? 'primary' : 'default'"
      [nzDanger]="!company?.isDeleted"
      (click)="toggleStatus()"
    >
      <i nz-icon nzType="sync"></i>
      {{
        company?.isDeleted
          ? ('organization.company.activate' | translate)
          : ('organization.company.deactivate' | translate)
      }}
    </button>
  </div>
</ng-template>
