<nz-card [nzTitle]="'system.integrations.zaloTitle' | translate">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'system.integrations.oaId' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="oaId" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'system.integrations.appId' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="appId" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'system.integrations.secretKey' | translate }}</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="secretKey" type="password" autocomplete="off" />
        </nz-form-control>
      </nz-form-item>
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>{{ 'system.integrations.accessToken' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="accessToken" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>{{ 'system.integrations.refreshToken' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="refreshToken" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label>{{ 'common.status.label' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="isActive"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'common.fields.note' | translate }}</nz-form-label>
        <nz-form-control>
          <textarea nz-input rows="2" formControlName="note"></textarea>
        </nz-form-control>
      </nz-form-item>
      @if (canManage) {
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">
          {{ 'common.actions.save' | translate }}
        </button>
      }
    </form>

    <nz-divider></nz-divider>

    <h4>{{ 'system.integrations.sendTest' | translate }}</h4>
    <form nz-form [formGroup]="testForm" nzLayout="vertical">
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>{{ 'system.integrations.zaloUserId' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="userId" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>{{ 'system.integrations.message' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="message" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      @if (canManage) {
        <button nz-button nzType="default" type="button" [nzLoading]="testing" (click)="sendTest()">
          {{ 'system.integrations.sendTest' | translate }}
        </button>
      }
    </form>
  </nz-spin>
</nz-card>
