<nz-card [nzTitle]="'system.integrations.punchTitle' | translate">
  <p>{{ 'system.integrations.punchDesc' | translate }}</p>
  <pre style="background: #fafafa; padding: 12px; border-radius: 6px">
EmployeeCode,PunchTime,Type
NV001,2026-08-13 08:00:00,IN
NV001,2026-08-13 17:00:00,OUT</pre>

  <nz-upload
    [(nzFileList)]="fileList"
    [nzBeforeUpload]="beforeUpload"
    [nzLimit]="1"
    nzAccept=".csv,text/csv,text/plain,application/json"
  >
    <button nz-button>
      <i nz-icon nzType="upload"></i>
      {{ 'system.integrations.selectFile' | translate }}
    </button>
  </nz-upload>

  <div style="margin-top: 16px">
    <button nz-button nzType="primary" [nzLoading]="uploading" (click)="importFile()">
      {{ 'system.integrations.importCsv' | translate }}
    </button>
  </div>

  @if (result) {
    <nz-divider></nz-divider>
    <p>
      {{ 'system.integrations.importSummary' | translate }}: {{ result.imported }}/{{
        result.totalRows
      }}
      ({{ 'system.integrations.skipped' | translate }}: {{ result.skipped }})
    </p>
    @if (result.errors.length) {
      <ul>
        @for (err of result.errors; track err) {
          <li>{{ err }}</li>
        }
      </ul>
    }
  }
</nz-card>
