<nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <!-- Mã  -->
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{ 'dayOffConfig.code' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'dayOffConfig.codeRequired' | translate">
              <input
                nz-input
                formControlName="code"
                [placeholder]="'dayOffConfig.codePlaceholder' | translate"
                [disabled]="isEdit"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- Tên -->
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{ 'dayOffConfig.name' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'dayOffConfig.nameRequired' | translate">
              <input
                nz-input
                formControlName="name"
                [placeholder]="'dayOffConfig.namePlaceholder' | translate"
                [disabled]="isEdit"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Công ty -->
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'dayOffConfig.companyName' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="companyId"
                nzAllowClear
                [nzPlaceHolder]="'dayOffConfig.filterCompany' | translate"
              >
                @for (c of companies; track c.id) {
                  <nz-option
                    [nzValue]="c.id"
                    [nzLabel]="c.code ? c.code + ' - ' + c.name : c.name"
                  ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <!-- Loại ngày nghỉ -->
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{ 'dayOffConfig.type' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="type"
                nzAllowClear
                [nzPlaceHolder]="'dayOffConfig.filterType' | translate"
              >
                @for (t of typeOptions; track t.value) {
                  <nz-option [nzValue]="t.value" [nzLabel]="t.labelKey | translate"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- Số ngày nghỉ mặc định mỗi năm -->
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'dayOffConfig.defaultDayPerYear' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-input-number
                formControlName="defaultDayPerYear"
                [nzMin]="0"
                style="width: 100%"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- Có được tính lương không -->
        <div nz-col nzXs="24" nzMd="8">
          <nz-form-item>
            <nz-form-label>{{ 'dayOffConfig.isPaid' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-switch formControlName="isPaid"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-label>{{ 'dayOffConfig.description' | translate }}</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" rows="3"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>{{ 'dayOffConfig.isActive' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="isActive"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <div class="form-actions" style="margin-top: 24px">
        <button nz-button nzType="default" type="button" (click)="goBack()" [disabled]="submitting">
          <i nz-icon nzType="arrow-left"></i>
          {{ 'dayOffConfig.backToList' | translate }}
        </button>
        <button
          nz-button
          nzType="primary"
          type="submit"
          [nzLoading]="submitting"
          style="margin-left: 12px"
        >
          <i nz-icon nzType="save"></i> {{ 'common.actions.save' | translate }}
        </button>
      </div>
    </form>
  </nz-spin>
</nz-card>

<ng-template #titleTemplate>
  <span style="font-size: 18px; font-weight: 600">
    <i nz-icon nzType="control" style="margin-right: 8px"></i>
    {{ isEdit ? ('dayOffConfig.editTitle' | translate) : ('dayOffConfig.addTitle' | translate) }}
  </span>
</ng-template>

<ng-template #extraTemplate>
  <button nz-button nzType="default" (click)="goBack()">
    {{ 'dayOffConfig.backToList' | translate }}
  </button>
</ng-template>
