<nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate" [nzLoading]="loading">
  @if (partMaster) {
    <div class="detail-header">
      <div>
        <h2>{{ partMaster.name }}</h2>
        <p>
          {{ 'organization.partMaster.code' | translate }}: <strong>{{ partMaster.code }}</strong>
        </p>
      </div>
      <span
        class="status-badge"
        [class.active]="!partMaster.isDeleted"
        [class.inactive]="partMaster.isDeleted"
      >
        {{
          partMaster.isDeleted
            ? ('common.statusInactive' | translate)
            : ('common.statusActive' | translate)
        }}
      </span>
    </div>

    <nz-tabs [nzSelectedIndex]="selectedTabIndex" (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab [nzTitle]="'organization.partMaster.tabDetail' | translate">
        <div class="tab-content">
          @if (partMaster.description) {
            <div class="description-box">
              <span class="field-label">{{
                'organization.partMaster.description' | translate
              }}</span>
              <p>{{ partMaster.description }}</p>
            </div>
          }

          <div nz-row [nzGutter]="[24, 16]">
            @for (field of detailFields; track field.key) {
              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
                <div class="detail-field">
                  <span class="field-label">{{ field.label | translate }}</span>
                  <span class="field-value">{{ getFieldValue(field) }}</span>
                </div>
              </div>
            }
          </div>
        </div>
      </nz-tab>

      <nz-tab [nzTitle]="'organization.partMaster.tabActivityLog' | translate">
        <div class="tab-content">
          <app-action-log
            entityName="PartMasterEntity"
            [entityId]="id ?? undefined"
            [title]="'actionLog.title' | translate"
          ></app-action-log>
        </div>
      </nz-tab>
    </nz-tabs>
  }
</nz-card>

<ng-template #titleTemplate>
  <span class="card-title">
    <i nz-icon nzType="database"></i>
    {{ 'organization.partMaster.detailTitle' | translate }}
  </span>
</ng-template>

<ng-template #extraTemplate>
  <div class="header-actions">
    <button nz-button nzType="default" (click)="goBack()">
      <i nz-icon nzType="arrow-left"></i> {{ 'organization.partMaster.backToList' | translate }}
    </button>
    <button nz-button nzType="primary" (click)="goEdit()">
      <i nz-icon nzType="edit"></i> {{ 'common.actions.update' | translate }}
    </button>
    <button
      nz-button
      [nzType]="partMaster?.isDeleted ? 'primary' : 'default'"
      [nzDanger]="!partMaster?.isDeleted"
      (click)="toggleStatus()"
    >
      <i nz-icon nzType="sync"></i>
      {{
        partMaster?.isDeleted
          ? ('organization.partMaster.activate' | translate)
          : ('organization.partMaster.deactivate' | translate)
      }}
    </button>
  </div>
</ng-template>
