<app-filter-custom
  [id]="'allowance-filter'"
  [fields]="filterFields"
  [filters]="filters"
  [config]="filterConfig"
  [filterActions]="filterActions"
  [loading]="loading"
  (filtersChange)="onFiltersChange($event)"
></app-filter-custom>

<app-table-custom
  [id]="'allowance-table'"
  [data]="data"
  [columns]="columns"
  [loading]="loading"
  [showIndexList]="true"
  [stripedRows]="true"
  [rowActions]="rowActions"
  [toolbarActions]="toolbarActions"
  [pagination]="pagination"
  (pageChange)="onPageChange($event)"
  (sortChange)="onSortChange($event)"
  (refresh)="loadData()"
></app-table-custom>

<nz-drawer
  [nzVisible]="modalVisible"
  [nzWidth]="600"
  [nzPlacement]="'right'"
  [nzTitle]="modalTitle | translate"
  [nzFooter]="drawerFooter"
  (nzOnClose)="closeModal()"
>
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'allowance.code' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'allowance.codeRequired' | translate">
          <input nz-input formControlName="code" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'allowance.name' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'allowance.nameRequired' | translate">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'allowance.description' | translate }}</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" rows="2"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'allowance.companyName' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="companyId"
            nzAllowClear
            nzShowSearch
            [nzPlaceHolder]="'allowance.filterCompany' | translate"
            style="width: 100%"
          >
            @for (opt of companyOptions; track opt.value) {
              <nz-option [nzValue]="opt.value" [nzLabel]="opt.label"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'allowance.defaultAmount' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-input-number formControlName="defaultAmount" [nzMin]="0" style="width: 100%"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'allowance.displayOrder' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-input-number formControlName="displayOrder" style="width: 100%"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <label nz-checkbox formControlName="isTaxable">{{ 'allowance.isTaxable' | translate }}</label>
      </nz-form-item>
      <nz-form-item>
        <label nz-checkbox formControlName="isInsurable">{{ 'allowance.isInsurable' | translate }}</label>
      </nz-form-item>
      <nz-form-item>
        <label nz-checkbox formControlName="isActive">{{ 'allowance.isActive' | translate }}</label>
      </nz-form-item>
    </form>
  </ng-container>

  <ng-template #drawerFooter>
    <div style="display: flex; justify-content: flex-end; gap: 8px">
      <button nz-button nzType="default" (click)="closeModal()" [disabled]="submitting">
        {{ 'common.actions.cancel' | translate }}
      </button>
      <button nz-button nzType="primary" (click)="submitModal()" [nzLoading]="submitting">
        {{ 'common.actions.save' | translate }}
      </button>
    </div>
  </ng-template>
</nz-drawer>
